<div>
  <% @ideas.each do |idea| %>
    <div>
      <p><%=@categories%></p>
      <span>
        <%= idea.body %>
      </span>
    </div>
  <% end %>
</div>
<div>
  <%= link_to 'アイデア登録', new_idea_path%>
</div>

